PORT:3001
CORS_ORIGIN:*

MONGODB_URI:mongodb+srv://raiujjwal2003:<your-password>@cluster0.ju2uoit.mongodb.net
ACCESS_TOKEN_SECRET=123
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRY=10d